---
import GitHubIcon from "./icons/GitHub.astro";
import RightArrowIcon from "../assets/RightArrow.svg";
import IconPill from "./IconPill.astro";

interface Props {
  title: string;
  description: string;
  gitHubLink?: string;
  link?: string;
  image?: string;
  tags: { name: string; Icon: any }[];
}
const { title, description, gitHubLink, link, image, tags } = Astro.props;
---

<article class="mb-6 md:mb-12">
  <div
    class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0 items-center"
  >
    <div class="w-full md:w-1/2 mb-2 md:mb-4">
      <img src={image} alt={`Imagen del proyecto ${title}`} />
    </div>
    <div class="w-full md:w-1/2 md:max-w-lg">
      <h3
        class="text-sm md:text-lg font-semibold text-heading my-2 text-yellow-300"
      >
        {title}
      </h3>
      <p
        class="text-xs md:text-base text-pretty text-justify font-normal text-body whitespace-pre-line mb-4"
      >
        {description}
      </p>
      <ul class="flex gap-x-4 mt-4 flex-wrap">
        {
          tags.map(({ name, Icon }) => (
            <IconPill>
              <Icon class="size-4" />
              {name}
            </IconPill>
          ))
        }
      </ul>
    </div>
  </div>
  <div class="text-center">
    {
      link && (
        <a
          href={link}
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center text-body bg-neutral-secondary-medium box-border border rounded-full hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-xs md:text-sm px-4 py-1 md:py-2.5 focus:outline-none border-white/60 bg-cyan-800 hover:scale-110 hover:bg-cyan-500 transition"
        >
          Link al proyecto
          <RightArrowIcon class="size-2 md:size-4" />
        </a>
      )
    }
    {
      gitHubLink && (
        <a
          href={gitHubLink}
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center text-body bg-neutral-secondary-medium box-border border rounded-full hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-xs md:text-sm px-4 py-1 md:py-2.5 focus:outline-none border-white/60 bg-cyan-800 hover:scale-110 hover:bg-cyan-500 transition"
        >
          <GitHubIcon class="size-2 md:size-2.5 mr-2" />
          GitHub
          <RightArrowIcon class="size-2 md:size-4" />
        </a>
      )
    }
  </div>
</article>
